.paginationWrapper {
    margin-bottom: clamp(0.125rem, 0.63vw, 0.75rem);
    display: flex;
    justify-content: flex-end;
}

.paginationWrapper .page {
    margin: 2px;
}

.page {
    display: inline-block;
    height: var(--small-btn-height-padding);
    line-height: var(--small-btn-height-padding);
    padding: 0 var(--small-btn-wight-padding);
    border: 1px solid var(--color-primary);
    cursor: pointer;
    border-radius: var(--button-rounded);
    transition: 0.5s;
    text-align: center;
}

.pageCurrent {
    background-color: #383838;
    color: white;

}

.page:hover {
    color: var(--color-white);
    background-color: #383838;
}