.textInput {
    width: 100%;
    display: block;
    min-height: var(--min-height-input);
    max-height: var(--max-height-input);
    /* height: var(--min-height-input); */
    padding: 0 var(--pad-input);
    background: var(--bg-input);
    border: 0;
    color: var(--color-input);
    border-bottom: 1px solid var(--ch-bg);
    transition: all .3s ease-in-out;
    resize: none;
    overflow-y: hidden;
    width: 500px;
}

.message {
    padding-top: 1em;
    font-size: var(--text-size-small);
    line-height: 100%;
    color: var(--color-errors);

}

.borderColorError {
    border-color: var(--color-errors);
}

.textInput:focus {
    outline: none;
}