.contentHeaderTop {
    position: relative;
    margin-bottom: var(--clamp-40-to-96);
    font-weight: 400;
}

.textCenter {
    text-align: center;
}

.headerTop {}

.textSizeBig {
    font-size: var(--clamp-42-to-180);
    line-height: 100%;
}

.upperCase {
    text-transform: uppercase;
}