.myBtn {
    border-radius: var(--button-rounded);
    height: clamp(1.75rem, 1.225rem + 2.63vw, 4.375rem);
    padding: 0 clamp(0.5rem, 0.2rem + 1.5vw, 2rem);
    font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
    font-weight: 400;
    background: rgba(0, 0, 0, 0);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.myBtn:hover {
    color: var(--color-white);
    background-color: #383838;
}