.myModal {

    --modal-alpha: 0.7;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, var(--modal-alpha));
    opacity: 0;
    transition: all .4s;
    pointer-events: none;
    z-index: 10;

    /* align-items: center;
    min-height: 100%;
    height: auto;
    width: auto;
    min-width: 100%; */
    /* overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain; */
}

.myModalContent {
    /* width: auto; */
    /* position: relative; */
    /* display: inline-block; */
    /* max-width: 100%; */
    margin: auto 0;
    transition: opacity .6s .2s;
}

.myModal.active {
    opacity: 1;
    pointer-events: all;
}