.gridCol {
    grid-column: auto/span 12;
}

.formField {
    position: relative;
    width: 100%;
}

.formFieldLabel {
    display: block;
    margin-bottom: clamp(0.125rem, 0.05rem + 0.38vw, 0.5rem);
    line-height: 100%;
    text-transform: uppercase;
    font-size: var(--text-size-small);
    font-weight: 300;
    color: var(--color-form-field);
}