.inner {
    width: 100%;
    height: 100%;
    padding: clamp(35px, 3vw, 70px);
    position: relative;
}

.navbar {
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    display: flex;
    right: 1em;
    top: 1em;
    gap: 1em;
}

.navbarInner {
    display: flex;
    right: 1em;
    top: 1em;
    gap: 1em;
    align-items: center;
}

.rolloverGoTo {
    display: flex;
}

.goTo {
    cursor: pointer;
}

.remove {
    cursor: pointer;
    border: 1px solid var(--color-primary);
    border-radius: var(--button-rounded);
    padding: 0 0.8em;
}

.remove:hover {
    color: var(--color-white);
    background-color: #383838;
}

.inner:hover .navbar {
    opacity: 1;
    transition: 0.5s;
}

.header {
    margin-bottom: clamp(10px, 3vw, 1em);
    line-height: 150%;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.expandableBtn {
    margin-left: auto;
    cursor: pointer;
}

.header .title {
    background-image: linear-gradient(to right, rgb(var(--color-underlined)) 0%, rgba(var(--color-underlined), 0.3) 33%);
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 100% 2px;
}

.title {
    font-size: clamp(24px, 22px + 0.56vw, 32px);
    font-weight: bold;
    margin-bottom: clamp(5px, 50%, 15px);
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
}

.title::after {
    display: block;
    width: 0px;
    height: 2px;
    background-color: var(--color-primary);
    content: "";
    transition: width 0.5s ease-out, background-color 0.5s ease-out;
}

.title:hover:after {
    width: 100%;
}

.description {
    font-size: clamp(24px, 10px + 0.56vw, 32px);
    font-weight: 200;
}

.list li {
    margin-bottom: 1em;
    line-height: 100%;
    list-style: none;
    font-size: 20px;
}

.okLogo {
    display: inline-block;
    height: auto;
    fill: currentColor;
    transition: all .3s;
    top: 0;
    left: 0;
    margin-right: 14px;
}