.block {
    margin-top: clamp(20px, 3vw, 50px);
    margin-bottom: clamp(20px, 15vw, 200px);
}

.contentHeaderTop {
    position: relative;
    margin-bottom: clamp(40px, 5vw, 96px);
    font-weight: 400;
}

.textCenter {
    text-align: center;
}

.inner {
    width: 100%;
    max-width: var(--innerWidth);
    margin: 0 auto;
    padding: 0 var(--pad-inner);
}

.headerTop {}

.upperCase {
    text-transform: uppercase;
}

.headerTopText {
    font-size: clamp(42px, -6.5915492958px + 9.7183098592vw, 180px);
    line-height: 100%;
}

.contentHeaderBot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: clamp(24px, 3vw, 48px);
}

.headerBotFlexLeft {}

.contentBody {
    position: relative;
    margin-bottom: clamp(40px, 5vw, 96px);
    font-weight: 300;
}





.wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.content {
    margin: 0 5px;
}